@import "/usr/lib/node_modules/@catppuccin/palette/scss/_mocha.scss";
$accent: $mauve;

window.bar {
  background: linear-gradient(0deg, rgba($base, 0.2), rgba($base, 0.6)); 
  border-bottom: 1px solid rgba($base, 0.5);
  color: $text;
}

.separator {
    color: rgba($text, 0.30);
    text-shadow: -1 0 0 rgba($base, 0.7);
    font-weight: lighter;
    font-size: 16px;
}

.title-icon {
}

scale {
  min-width: 60px;
  padding: 0;
}

scale trough {
}

fill {
    min-width: 20px;
}
.volume-button {
  margin-left: - 8px;
  margin-right: - 4px;
}

button {
    padding: 0 6 0 6;
    background: transparent;
    color: rgba($text, 1.0);
}
.workspaces button {
    border-radius: 80px;
    padding: 0 4 0 4;
    margin: 0 10 0 0;
    background: linear-gradient(0deg, rgba($accent, 0.0), rgba($accent, 0.15), rgba($accent, 0.15)); 
    border: 1px solid rgba($accent, 0.4);
    color: rgba($accent, 0.7);
    box-shadow: 0 0 0 1 rgba($base, 0.40);
}

.workspaces button.hidden {
    all: unset;
    border-radius: 80px;
    margin: 5 10 5 0;
    padding: 0 0 0 0;
    background-color: rgba($text, 0.2);
}

.workspaces button:hover {
    background: linear-gradient(0deg, rgba($accent, 0.2), rgba($accent, 0.25), rgba($accent, 0.30)); 
}

.workspaces button:active {
    background: linear-gradient(0deg, rgba($accent, 0.20), rgba($accent, 0.12), rgba($accent, 0.10)); 
}

.workspaces button.focused {
    background-color: rgba($accent, 1.0);
    color: rgba($base, 0.8);
}
.workspaces button.occupied {
}


label {
    /* font-weight: bold; */
}

.media {
    padding: 0 0 0 8;
    margin: 0 0 0 12;
    background: linear-gradient(0deg, rgba($accent, 0.2), rgba($accent, 0.3)); 
    border-radius: 8px;
    border: 1px solid rgba($accent, 0.4);
    box-shadow: 0 0 0 1 rgba($base, 0.40);
}

.player-icon {
    margin-right: 8px;
}

.media-label {
    margin-right: 8;
}
.media-control {
    all: unset;
    margin: 0;
    padding: 0 7 0 7;
}

slider {

  all: unset;
  min-width: 10px;
  min-height: 10px;
  margin-bottom: -4px;
  margin-top: -4px;
  padding: 0px;
  background-color: rgba($text, 1.0);
  border-radius: 10000px;
}
slider:hover {
  background-color: rgba($text, 1.0);
  box-shadow: 0 0 4 5px rgba($base, 0.2);
}

.client-title {
    color: rgba($accent, 1.0);
    font-weight: bold;
    margin-left: 8px;
}

.notification {
    border-radius: 8px;
    padding: 0 6 0 6;
    margin: 0 0 0 0;
    //background: linear-gradient(0deg, rgba($accent, 0.1), rgba($accent, 0.15), rgba($accent, 0.15)); 
    //border: 1px solid rgba($accent, 0.2);
    color: rgba($accent, 0.7);
    //box-shadow: 0 0 0 1 rgba($mantle, 0.15);
}
.notification:hover {
    //background: linear-gradient(0deg, rgba($accent, 0.2), rgba($accent, 0.30), rgba($accent, 0.30)); 
    text-shadow: 0 0 3 rgba($mantle, 1.25);
    color: rgba($text, 0.7);
    //box-shadow: 0 0 0 1 rgba($mantle, 0.15);
}

levelbar block,
highlight {
}

.systray {
    padding: 0 8 0 8;
    background: linear-gradient(0deg, rgba($accent, 0.1), rgba($accent, 0.2)); 
    border-radius: 8px;
    border: 1px solid rgba($accent, 0.4);
    box-shadow: 0 0 0 1px rgba($base, 0.4);
}

.container {
    padding: 8 10 8 10px;
}
